body
{
	margin: 0;
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
h1.logo
{
	font-size: 44px;
	font-weight: 700;
	color: #ddd;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;

}
nav
{
background-color: #1c74b2;
text-align: center;

}
.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size:18px;
	min-height: 37px;
	line-height: 200%;
}

.menu > li
{
	display: inline-block;
	padding-left:20px ;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;

}
.menu > li:first-child
{
	border-left: 1px dashed #0a2b42;
}
.menu > li > ul
{
	list-style-type:none;
 	padding:0;
	  margin:0;
	  display: none;
}
.menu > li:hover > ul
{
	display: block;
}
.menu > li > ul > li
{
	position:relative;
}
.menu a
{
	color: #fff;
	text-decoration: none;
}
.menu a:hover
{
	color: #0a2b42
}
.kategorie
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding:0;
}
h1
{
	font-size:44px;
	font-weight: 400;
	color: #39a5f1;
	margin-bottom: 20px;
}
h2
{
	font-size:44px;
	font-weight: 400;
	color: #39a5f1;
	margin-bottom: 20px;
}
.discipline
{
	display: inline-block;
	margin:10px;
}
.discipline a
{
	opacity: 0.75;
}
.discipline a:hover
{
	opacity: 1;
}

figure
{
	margin:8px;
	padding:0;
}
figcaption
{
	margin-top: 8px;
	padding:0;
}
.descriptions
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-top:10px;
	padding-bottom:80px;
	margin-top: 40px;
}
#new
{
	background-color: #191d21;
}
.description
{
	background-color: #222930;
	padding:10px;
	text-align: justify;
	margin-top: 40px;
	border-radius: 5px;
}
.descriptionimg
{
	display: inline-block;
	margin-left: 30px;
	width: 150px;
}
.descriptionimg img
{
	width: 130px;
	height: 100px;
}
.descriptiontext
{
	display: inline-block;
	width: 700px;
	font-size: 15px;
}
h2
{
	font-size:20px;
	font-weight: 400;
	color: #39a5f1;
}
.contact
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-bottom: 70px;
	margin-bottom: 50px;
}
.contact p
{
	margin-bottom: 50px;
}
.contactbutton
{
	background-color: #1c74b2;
	padding:15px;
	color:#efefef;
	font-size:19px;
	text-decoration: none;
	border-radius: 5px;
	min-width: 300px;
}
.contactbutton:hover
{
	background-color: #196499;

}
.info
{
	background-color: #191d21;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
}
.sport
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-bottom: 70px;
	margin-bottom: 50px;
}
td, th 
{ 
	text-align: center;
	border: 1px solid #1c74b2; 
}
.tabelka
{
	padding-left:450px;
	padding-top: 40px;
	width: 950px;
	text-align: center;
	padding-bottom: 70px;
	margin-bottom: 50px;
}
.formularz
{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-bottom: 70px;
	margin-bottom: 50px;
}
#kw
{
	margin: 5px;
	width: 50px;
	height: 50px;
	animation: spin 4s linear infinite;
}
@keyframes spin {100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);   } }